<p>queryparam-parent works!</p>
<!-- <a [routerLink]="['/queryparent/querychild']" [queryParams]="{name:'praful', location :'pune'}"> Child</a> -->
<!-- <a [routerLink]="['/querychild']" , [queryParams]="{name : 'Praful', location : 'pune'}"></a> -->

<!-- <div class="container" >
    <div *ngFor="let item of profile">
        {{item.srno}} {{item.name}} <button (click)="data(item)">click me</button>

    </div>
</div>

<a [routerLink]="['/queryparent/querychild']" [state]="{class :'velocity'}"> History</a> -->

<button (click)="transper()">click me</button>

<router-outlet></router-outlet>